<p-toast></p-toast>

<p-dialog *ngIf="displayStationModal && displayedStation" [(visible)]="displayStationModal" id="station-modal">
  <p-header>
    {{displayedStation.name}}
  </p-header>
  <div class="ui-g">
    <div class="ui-g-4">
      <img src="{{displayedStation.favicon}}">
    </div>
    <div class="ui-g-8">
      <p *ngFor="let key of getKeys(displayedStation)">
        <b>{{key}}</b>: {{displayedStation[key]}}
      </p>
    </div>
  </div>
  <p-footer>
    <button type="button" pButton icon="fas fa-close" (click)="displayStationModal = false" class="ui-button">Close</button>
  </p-footer>
</p-dialog>

<div class="page-wrapper">
  <h1>Stations</h1>

  <p>To view stations, please enter a search term into at least one of the fields below.</p>

  <div *ngIf="searchName && (tableData && !noResults)">
    <p>Save current list as playlist for your audio player:
      <a target="_blank" href="http://www.radio-browser.info/webservice/pls/stations/search?name={{searchName}}&limit=100">PLS</a>,
      <a target="_blank" href="http://www.radio-browser.info/webservice/m3u/stations/search?name={{searchName}}&limit=100">M3U</a>,
      <a target="_blank" href="http://www.radio-browser.info/webservice/xspf/stations/search?name={{searchName}}&limit=100">XSPF</a>
    </p>
  </div>

  <p-accordion id="accordian-search">
    <p-accordionTab
      header="Search Terms"
      [selected]="searchIsSelected"
      (keyup.enter)="searchStations()"
    >
      <div class="container">
        <p class="label">Show Only</p>
        <p-toggleButton
          onLabel="Broken"
          offLabel="Broken"
          onIcon="pi pi-check"
          offIcon="pi pi-times"
          (click)="showBroken()"
          [(ngModel)]="searchBroken"
        ></p-toggleButton>

        <p-toggleButton
          onLabel="Improvable"
          offLabel="Improvable"
          onIcon="pi pi-check"
          offIcon="pi pi-times"
          (click)="showImprovable()"
          [(ngModel)]="searchImprovable"
        ></p-toggleButton>
      </div>

      <br>

      <div class="container">
        <p class="label">Sort By</p>
        <p-toggleButton
          onLabel="Clicks"
          offLabel="Clicks"
          onIcon="pi pi-check"
          offIcon="pi pi-times"
          (click)="disableOtherSorting('Clicks')"
          [(ngModel)]="searchClicks"
        ></p-toggleButton>
        <p-toggleButton
          onLabel="Votes"
          offLabel="Votes"
          onIcon="pi pi-check"
          offIcon="pi pi-times"
          (click)="disableOtherSorting('Votes')"
          [(ngModel)]="searchVotes"
        ></p-toggleButton>
        <p-toggleButton
          onLabel="Last Played"
          offLabel="Last Played"
          onIcon="pi pi-check"
          offIcon="pi pi-times"
          (click)="disableOtherSorting('Played')"
          [(ngModel)]="searchPlayed"
        ></p-toggleButton>
        <p-toggleButton
          onLabel="Newness"
          offLabel="Newness"
          onIcon="pi pi-check"
          offIcon="pi pi-times"
          (click)="disableOtherSorting('Newness')"
          [(ngModel)]="searchNewness"
        ></p-toggleButton>
      </div>

      <br>

      <div class="container">
        <p class="label">Name</p>
        <input class="full-width" autocomplete="dont" [(ngModel)]="searchName" type="text" pInputText>
      </div>

      <br>

      <div class="container">
        <p class="label">Country</p>
        <p-autoComplete
          autocomplete="dont"
          [(ngModel)]="searchCountry"
          field="name"
          [forceSelection]="true"
          [suggestions]="filteredCountries"
          (completeMethod)="searchCountries($event)"
        ></p-autoComplete>
      </div>

      <br>

      <div class="container">
        <p class="label">State</p>
        <p-autoComplete
          autocomplete="dont"
          [(ngModel)]="searchState"
          field="name"
          [forceSelection]="true"
          [suggestions]="filteredStates"
          (completeMethod)="searchStates($event)"
        ></p-autoComplete>
      </div>

      <br>

      <div class="container">
        <p class="label">Language</p>
        <p-autoComplete
          autocomplete="dont"
          [(ngModel)]="searchLanguage"
          field="name"
          [forceSelection]="true"
          [suggestions]="filteredLanguages"
          (completeMethod)="searchLanguages($event)"
        ></p-autoComplete>
      </div>

      <br>

      <div class="container">
        <p class="label">Tags</p>
        <p-autoComplete
          autocomplete="dont"
          [(ngModel)]="searchTags"
          field="name"
          [dropdown]="true"
          [multiple]="true"
          [forceSelection]="true"
          [suggestions]="filteredTags"
          (completeMethod)="searchAllTags($event)"
        ></p-autoComplete>
      </div>

      <br>

      <button (click)="searchStations()">Search Stations</button>
    </p-accordionTab>
  </p-accordion>



  <p *ngIf="tableData && noResults">
    No results for this query.
  </p>
  <!--<p-multiSelect-->
    <!--[options]="cols"-->
    <!--[(ngModel)]="visibleColumns"-->
    <!--(onChange)="filterColumns();"-->
    <!--optionLabel="header">-->
  <!--</p-multiSelect>-->
  <p-table
           *ngIf="(tableData && !noResults) || loading"
           [columns]="cols"
           [value]="tableData"
           [paginator]="true"
           [responsive]="true"
           [autoLayout]="true"
           dataKey="id"
           [rowsPerPageOptions]="[5,10,25,50,100]"
           [rows]="10"
           [loading]="loading">
    <ng-template pTemplate="header">
      <tr>
        <ng-container *ngFor="let col of cols">
          <th *ngIf="col.show" [pSortableColumn]="col.field" width="{{col.width}}" [id]="col.header">
            {{col.header}}
            <p-sortIcon *ngIf="col.sortable" [field]="col.field"></p-sortIcon>
          </th>
        </ng-container>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-station>
      <tr>
        <ng-container *ngFor="let col of cols">
          <td *ngIf="col.show && col.field !== 'actions'">
            <div *ngIf="col.field === 'stream-info'">
              <div *ngIf="station.lastcheckok === '0'">
                <span class="chip">BROKEN</span>
              </div>
              <div *ngIf="station.lastcheckok === '1'">
                <span class="chip">{{station.codec}}</span>
                <span class="chip">{{station.bitrate}} kbps</span>
              </div>
            </div>
            <div *ngIf="col.field === 'tags'">
              <div *ngIf="station.tags.length !== 0">
                <span class="chip" *ngFor="let tag of station.tags.split(',')">{{tag}}</span>
              </div>
            </div>
            <div *ngIf="col.field === 'logo'">
              <div class="img-container"><img class="favicon" src="{{station.favicon}}"></div>
            </div>
            <div *ngIf="col.field === 'name'">
              {{station.name}}<br>
              <span class="playing" *ngIf="station.playing"><b>currently playing:</b> {{station.playing}}</span>
            </div>
            <div
              *ngIf="
              col.field !== 'stream-info' &&
              col.field !== 'logo' &&
              col.field !== 'name' &&
              col.field !== 'tags'">
              {{station[col.field]}}
            </div>
          </td>
        </ng-container>
        <td class="actions">
          <i (click)="playStation(station)" class="fas fa-play-circle"></i>
          <a target="_blank" href="http://www.radio-browser.info/webservice/pls/url/{{station.id}}">
            <i class="fas fa-save"></i>
          </a>
          <a target="_blank" href="{{station.homepage}}"><i class="fas fa-home"></i></a>
          <i (click)="voteStation(station)" class="fas fa-thumbs-up"></i>
          <i (click)="displayStation(station)" class="fas fa-question-circle"></i>
          <i class="fas fa-step-backward" routerLink="/stations/history/{{station.stationuuid}}"></i>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<br>

